@media screen and (min-width: 405px) {
    .header-items {
      display: flex !important;
      flex-direction: row !important;
    }
    .header-list {
      display: flex !important;
      flex-direction: row !important;
    }
  }
  
  .dark-theme {
    color: #ffffff !important;
    background-color: #131415;
  }
  
  .dark-theme table {
    color: #ffffff !important;
  }
  
  .dark-theme nav input {
    background-color: #1e1f22 !important;
  }
  
  .dark-theme input {
    background-color: #1e1f22 !important;
  }
  
  .dark-theme input {
    color: #ffffff !important;
  }
  
  .light-theme {
    background-color: #ffffff;
  }
  
  .navbar-toggler,
  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
      border:none !important;
      outline: none !important;
      box-shadow: none !important;
  }